<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
</head>
<body bgcolor="Pink">
<h2><center><img src="{% static 'image/sw.jpeg' %}"><a href="newsouthwales/">newsouthwales</a> </center></h2>
<h2><center><img src="{% static 'image/q.jpeg' %}"><a href="Queensland/">Queensland</a> </center></h2>
<h2><center><img src="{% static 'image/sa.jpeg' %}"><a href="SouthAustralia/">SouthAustralia</a> </center></h2>
<h2><center><img src="{% static 'image/PMT1 (1).jpg' %}"><a href="Tsamnia">tsamnia</a> </center></h2>




</body>
</html>